{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>CUTEST PET CLUB</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>"CUTEST PET" Contest </h1>   
{{ end }}